<p id="notice"><%= notice %></p>

<script type="text/javascript">
    <!--
    function myfunction() {
        alert("Hello World")
        <%set_anonymous_mode%>
    }
    //-->
</script>

<h1>Users</h1> <button type="button" id="demo" onclick="myfunction()">Anonymize Users!</button> <%=$mode%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <% if ($mode) %>
          <th>Anon name</th>
          <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.login %></td>
        <% if ($mode) %>
            <td><%= anonymize(user.name) %>,<%= anonymize(user.login)%></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
