<p id="notice"><%= notice %></p>

<h1>Users</h1> <%=link_to "Anonymize Users!", :controller => :users, :action => :set_anonymous_mode%>
<%=session[:anonymous_mode]%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= display_anon_name(user.name) %></td>
        <td><%=display_anon_mail(user.email) %></td>
        <td><%= display_anon_handle(user.login) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=display_anon_fullname("Sarat Kavuru") %>
<br>

<%= link_to 'New User', new_user_path %>
